body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1.5;
  background-color: #E2E2E2;
}
article, aside, figcaption, figure, footer, header, nav, section {display: block;}
h1, h2, h3, h4 {margin: 1em .5em; line-height: 1.25;}
h1 {font-size: 2em;}
h2 {font-size: 1.5em; border-bottom: solid; margin-top: 2em;}
h3 {font-size: 1.2em;}
h4 {font-size: 1em;}
ul, ol {margin: 1em 0; padding-left: 40px;}
p, figure {margin: 1em 2em;}
a img {border: none; margin: 0 2em;}
sup, sub {line-height: 0;}
section {float:right; padding: 10px; margin: 10px 15px; width: 30%}
* {
  font-family: arial, sans-serif;
  font-size: 1em;
}
.container {
  width: 1100px;
  margin: 0 auto;
  position: static;
}

pre { padding-left: 40px;}

main {width: 55%; margin: 50px; padding: 15px;}