body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  background: url('https://raw.githubusercontent.com/knosis/knosis.github.io/master/images/zoetrope.jpg') no-repeat left top #2b2b2b;
}


article, header, section {display: block;}
h1, h2, h3, h4 {
  margin: 1em 0 .5em;
  line-height: 1.25;
  font-family: 'Lato', sans-serif;
  color: white;
  font-weight: bold;
}
h1 {font-size: 3em; padding: 0 0 0 20px;}
h2 {font-size: 2em;}
p, figure {
  margin: 1em 0;}
a img {border: none;}
a {text-decoration: none; border-bottom: none; color: white;}
li {list-style-type: none;}

#nav {
  position: absolute;
  right: 20%;
  text-align:right;
  line-height:100%;
  width:35%;
  height:100%;
}

#footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  left: 0px;
  width: 100%;
  margin: 20px 40px;
  text-align: center;
}

#nav ul
  position: absolute;
  right: 30%;
}

.social li {
  display: inline;
  float: left;
  margin: 0px auto;
  width: 800px;
}

.social li a {
  font-family: inherit;
}

.social {
  bottom: 0px;
  width:100%;
  height:10%;
  position: absolute;
}


